/* .flex {
display: flex;
} */

.main_div {
    /* flex-direction: row; */
    max-width: 1310px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding: 25px;

    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    opacity: 0.9;
}

.btn {
    display: block;
    width: 230px;
    margin: 0;
    margin: 5px;
    margin-left: 5px;
    padding: 0;
    padding: 5px;

    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: #ff2b24;
    text-align: center;
    /* border: 1px solid #ff2b24; */
    cursor: pointer; 
} 


.btn:hover {
    transition: 1s;
    background-color:white ;
    color: #ff2b24;

}

.btn:focus {
    transition: 1s;
    background-color: #e9ebee;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.parag {
    width: 75px;
    white-space: nowrap;
    word-break: break-all;

    color: rgba(0,0,0,.6)
}

img {
    width: 250px;
    height: 350px;
}

.up_main {
    width: 1310px;

    display: flex;
    flex-direction: row;
    /* align-content: center; */
}


.title_image {
    border-radius: 30px;

}

body {
 background: -webkit-linear-gradient(90deg, #7ba79a,#6fa572);/* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(90deg, #7ba79a,#6fa572);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
line-height: 1.5;
}

.left_div_up {
    /* flex-direction: column; */

    width: 250px;
}

.right_div_up {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    margin-left: 20px;
    width: 1086px;
}


.left_text_side {
    margin: 0;
    padding: 0;

    margin-left: 15px;
    margin-top: 15px;
    margin-right: 350px;
}

.right_text_side {
    margin: 0;
    padding: 0;
    margin-top: 15px;

    color: #212529;
}

.down_section {
    display: flex;
    /* flex-wrap: wrap; */
    width: 1310px;
    flex-direction: column;
    align-items: center;
}

.down_content {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    align-items: center;
    width: 755px;
}

.title_images {
    text-align: center;
}

.content_images {
    margin-top: 40px;
    display: flex;
    flex-flow: s;
    width: 1310px;
    justify-content: space-between;
}

.image_source {
    width: 400px;
}

.image_source {
    border: 1px blueviolet solid;
    border-radius: 30px;
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.9);
}