<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--    <meta charset="windows-1251">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <script src="../static/js.js"></script>-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Document</title>
</head>
<body class="test">

<div class="main_div flex reset">

    <div class="up_main">
        <div class="left_div_up item">
            <img class="scale title_image" src="{{values['path_to_img_title']}}" alt="{{name}}">
            <a href="{{ values['url_record'] }}" class="btn">Перейти к закладке</a>
        </div>

        <div class="right_div_up">
            <div class="left_text_side">
                <p class="parag">Категория</p>
                <p class="parag">Название</p>
                <p class="parag">Дата создания</p>
                <p class="parag">Статус</p>
            </div>
            <div class="right_text_side">
                <p class="parag">{{ values['category'] }}</p>
                <p class="parag">{{ values['record_name'] }}</p>
                <p class="parag">{{ values['date_create'] }}</p>
                <p class="parag">{{ values['status_record'] }}</p>
            </div>
        </div>

    </div>


    <div class="down_section">
        <div class="down_content">
            <p class="parag_down_content">{{ values['desc_record'] }}</p>
        </div>
    </div>
    <h2 class="title_images">Изображения для этой закладки</h2>
    <div class="content_images">
        {% for images in values["images_record"] %}
        <div class="content_image">
            <a href=" {{ images }}" target="_parent"><img src="{{ images }}" class="image_source scale"></a>
        </div>
        {% endfor %}
    </div>
</div>


</body>
</html>


